img {
  width: 200px;
}
body {
  text-align: center;
  color: SlateBlue;
  font-family: 'Times New Roman':
}

.page-wrapper {
  background-color: PaleTurquoise;
}

img:hover {
  transform: translateY(-7px);
}
